.header {
    background-image: url("/images/back5.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.header .overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(34, 36, 36);
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.head-info {
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.head-info h1 {
  font-size: 40px !important;
}

.head-info p {
    font-size: 12px;
    color: #b6b6b6;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.head-info h1 {
    font-size: 65px;
}

.head-info h2 {
    margin-top: 20px;
}

.head-info .seperator {
  width: 100px;
  height: 1px;
  background-color: #c48e2a;
  position: absolute;
  top: 160%;
  left: 41%;
  transform: rotate(90deg);
}

.head-info h4 {
  margin: 10px 0;
}

  /* Projects */
  .projects-container {
    margin-top: 150px;
  }

  .projects .flex {
    flex-wrap: wrap;
    margin-top: 150px;
  }

  .projects .flex .card {
    width: 396px;
    margin: 5px;
  }

  .projects .flex .card img {
    /* width: 400px; */
    width: 100%;
    height: 300px;
  }


  .projects .card-text h1 {
    margin: 10px 0;
    margin-right: 5px;
  }

  .projects .card-text p {
    margin: 10px 0;
    line-height: 1.8rem;
    width: 300px;
  }

  .projects .site-supervision .card img {
    height: auto;
  }

  .projects .flex .design img {
    height: 527px;
    width: 395px;
  }
  

  /* testimonial */
  .testimonial {
    margin-top: 100px;
  }

  .testimonial-head {
    margin-top: 0px;
  }